*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/app/build/

# Android Studio / IntelliJ
*.iws
*.out
.navigation/

# Log files
*.log

# Android-specific
proguard-project.txt
project.properties

# Secrets
google-services.json
*.jks
*.keystore
